.env
.vscode/
__pycache__/
.ipynb_checkpoints/
subject_book.pdf
OOP_book.pdf
uploads/
subjects.json
*.png
*.pdf
.claude
recognized_handwriting_large.txt
recognized_handwriting_lines.txt
recognized_handwriting.txt